body{
    background-color: black;
    color: white;
}
header{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
}
section{
    height: 45vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    border-top: 1px solid white;
    border-width: 2px;
}
button{
    padding: 2rem;
    background-color: white;
}
button:hover{
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}